{include file="header.html" title=foo}
<h1>Admin Page: Update User</h1>
{$message}<br />
<form action='./index.php?router_id=6&idcr_user={$idcr_user}' method='post'>
<input type="hidden" name="cr_userlomd" value='{$cr_userlomd}'/>
Name:
<input type='text' name='cr_username' value='{$cr_username}' />
<br />
Password:
<input type='password' name='cr_userpass' value='' /><br />
Email:
<input type='text' name='cr_useremail' value='{$cr_useremail}' /><br />
<input type="submit" name='submit' value='submit' />
</form>
{include file="footer.html" title=foo}