{include file="header.html" title=foo} {$result_message}
<br />
<form method="post" action='./index.php'>
	<input type='hidden' name='router_id' value='{$router_id}'> <label
		for='name'> <b>Name:</b> <input name='name' type="text" />
	</label><br /> <label for="email"> <b>Email:</b><input name='email'
		type="text" />
	</label> <br /> <label for='password'> <b>Password:</b> <input
		name='password' type="password" />
	</label><br /> <input name='submit' type="submit" value="Submit"> <a
		href='./index.php?router_id=1'>Login</a>
</form>
{include file="footer.html"}
